<app-admin-navbar></app-admin-navbar>

<section class="questions-wrapper">
    <table>
        <thead>
            <th>Категория</th>
            <th>Име</th>
            <th>Имейл</th>
            <th>Структура</th>
        </thead>
        <tbody>
            <tr>
                <td>Личен уеб сайт</td>
                <td>Виктор Иванов</td>
                <td>виктор@gmail.com</td>
                <td>Виж повече</td>
            </tr>
            <tr>
                <td>Една страница уеб сайт</td>
                <td>Пешо Пешов Желязков</td>
                <td>викто12345р@gmail.com</td>
                <td>Виж повече</td>
            </tr>
            <tr>
                <td>Друго</td>
                <td>Виктор</td>
                <td>виктор@gmail.com</td>
                <td>Виж повече</td>
            </tr>
        </tbody>
    </table>
</section>