<app-admin-navbar></app-admin-navbar>

<section class="questions-wrapper">
    <table *ngIf="questions">
        <thead>
            <th>Категория</th>
            <th>Име</th>
            <th>Имейл</th>
            <th>Структура</th>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions">
                <td>{{question.category}}</td>
                <td>{{question.name}}</td>
                <td>{{question.email}}</td>
                <td>{{question.description}}</td>
            </tr>
        </tbody>
    </table>
</section>