.skills-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.skills-wrapper img {
    width: 100vw;
}

.card-wrapper {
    border: 2px solid #344675;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgb(0 0 0);
    border-radius: 10px;
    text-align: center;
    max-width: 20%;
}

.card-wrapper img {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: contain;
    border-radius: 10px;
}