<section class="create-site-benefit-wrapper">
    <article class="create-site-name-wrapper">
        <h1>Какво получаваш</h1>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-user-friends"></i>
        <h3>Безплатни консултации</h3>
        <p>Постоянна връзка с моите клиенти. Бърза реакция при изникнал проблем и безплатни консултации.</p>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-coins"></i>
        <h3>Конкурентни цени</h3>
        <p>Изработка на уеб сайт и SEO оптимизация на цени, достъпни за всеки бюджет и възможности.</p>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-chart-line"></i>
        <h3>Поддръжка и развитие</h3>
        <p>Най-добри цени за поддръжка и развитие на уеб сайта Ви. Бърза реакция и успех за вашия бизнес.</p>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-mouse-pointer"></i>
        <h3>Лесно използване</h3>
        <p>Всички сайтове, които изработвам са изцяло динамични и разполагат със собствен административен панел.</p>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-shield-alt"></i>
        <h3>100% сигурност</h3>
        <p>Благодарение на множеството защити, използвани от мен, вашият уеб сайт е на 100% защитен от злонамерени потребители.</p>
    </article>
    <article class="content-wrapper">
        <i class="fas fa-mobile"></i>
        <h3>Responsive дизайн</h3>
        <p>Всички уеб сайтове, които изработвам са с Responsive дизайн, който е пригоден за всички устройства - смарфтони, таблети.</p>
    </article>
    <article class="btn-wrapper">
        <button routerLink="/create-site-form" class="btn btn-primary">Поискай оферта</button>
    </article>
</section>