.basic-title {
    height: 38vw;
    background-image: url(/assets/img/title-img.png);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 50px 0px;
    background-size: 39%;
    padding: 0px 50px;
}

.basic-title .text-wrapper {
    padding-left: 150px;
    opacity: 0;
}

.basic-title span {
    color: #ffbd39;
}

.basic-title h1 {
    margin: 0;
    font-size: 38px;
}

.basic-title p {
    font-size: 28px;
}

.basic-title button {
    margin: 0% auto;
}