.basic-title {
    background-image: url(/assets/img/title-img.png);
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: 39%;
    padding: 60px 50px;
}

.basic-title .text-wrapper {
    opacity: 0;
    margin: 0px 10%;
}

.basic-title span {
    color: #ffbd39;
}

.basic-title h1 {
    margin: 0;
    font-size: 38px;
}

.basic-title p {
    font-size: 28px;
}

@media(max-width: 860px) {
    .basic-title {
        background-image: none;
        justify-content: center;
    }
    .basic-title .text-wrapper {
        margin: 0px;
    }
}