<div class="background"></div>

<i (click)="showMenu(nav, $event)" class="fa fa-bars"></i>

<nav [@nav-animate]=isOpen #nav class="navigation-basic">
    <article class="page-wrapper">
        <a class="nav-logo btn-nav" routerLink="/home"><strong>Krastev </strong> IT</a>
        <a class="btn-nav" routerLink="/home">Начало</a>
        <a class="btn-nav" routerLink="/skills">Умения</a>
        <a class="btn-nav" routerLink="/lectures">Лекции</a>
        <a class="btn-nav" routerLink="/create-site">Изработка на сайт</a>
        <a *ngIf="getIsAdmin()" class="btn-nav admin" routerLink="/admin">Админ</a>
    </article>
    <article *ngIf="!getUsername()" class="auth-wrapper">
        <a class="btn-nav" routerLink="/login">Вход</a>
        <a class="btn-nav" routerLink="/register">Регистрация</a>
    </article>
    <article *ngIf="getUsername()" class="auth-wrapper">
        <a routerLink="/profile"><span>Здравей, </span>{{userName}}!</a>
        <a class="btn-nav" (click)="logout()" routerLink="/home">Излез</a>
    </article>
</nav>