<nav class="navigation-basic">
    <article class="page-wrapper">
        <a class="btn-nav" routerLink="/home">Начало</a>
        <a class="btn-nav" routerLink="/projects">Проекти</a>
        <a class="btn-nav" routerLink="/education">Обучения</a>
        <a class="btn-nav" routerLink="/skills">Умения</a>
    </article>
    <article class="auth-wrapper">
        <a class="btn-nav" routerLink="/login">Вход</a>
        <a class="btn-nav" routerLink="/register">Регистрация</a>
    </article>
</nav>