<i (click)="showMenu(nav, $event)" class="fa fa-bars"></i>

<nav [@nav-animate]=isOpen #nav class="navigation-basic">
    <article class="page-wrapper">
        <a class="nav-logo btn-nav" routerLink="/home"><strong>Krastev </strong> IT</a>
        <a class="btn-nav" routerLink="/home">Начало</a>
        <a class="btn-nav" routerLink="/projects">Проекти</a>
        <a class="btn-nav" routerLink="/education">Обучения</a>
        <a class="btn-nav" routerLink="/skills">Умения</a>
    </article>
    <article class="auth-wrapper">
        <a class="btn-nav" routerLink="/login">Вход</a>
        <a class="btn-nav" routerLink="/register">Регистрация</a>
    </article>
</nav>