@font-face {
    font-family: 'Amatic SC', cursive;
    src: url(assets/fonts/AmaticSC-Bold.ttf) format("opentype");
}

body * {
    font-family: 'Amatic SC', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.btn-nav {
    display: flex;
    border-radius: 4px;
    margin: 0 8px 16px;
    transition: all 0.2s ease-in-out;
}

.btn-nav:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}