<section class="create-site-wrapper">
    <article class="create-site-name-wrapper">
        <h1>Изработка на уеб сайт</h1>
    </article>

    <article class="content-wrapper">
        <i class="fas fa-code"></i>
        <h3>Изработка на уеб сайтове</h3>
        <p>Изработка на динамичен или статичен уеб сайт с персонален дизайн и функционалност на най-добра цена!</p>
    </article>

    <article class="content-wrapper">
        <i class="fas fa-bullseye"></i>
        <h3>Цел на уеб сайта</h3>
        <p>Водеща цел на уеб сайта е популяризиране и утвърждаване името на фирмата, както и осигуряване на бърза и лесна възможност на заинтересованите да получат пълна информация за нея и нейните продукти/услуги.</p>
    </article>

    <article class="content-wrapper">
        <i class="fas fa-pencil-alt"></i>
        <h3>Уеб дизайн</h3>
        <p>Уникален уеб дизайн, лого, банери, брошури, визитки и всякакви изображения. Редизайн на съществуващ уеб сайт.</p>
    </article>
</section>
<div class="arrow-wrapper">
    <i class="fas fa-arrows-alt-v"></i>
</div>
<app-create-site-benefit></app-create-site-benefit>