<section class="login-wrapper">
    <article class="card-login">
        <h1>Вход</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <input type="text" formControlName="username" placeholder="Потребителско Име">
                <hr>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Парола">
                <hr>
            </div>

            <button class="btn" type="submit">Вход</button>
        </form>
    </article>
</section>